$font-family-sans-serif: "SVN-GilroyBold";
$neutral-color-00: #f2f2f2;
$neutral-color-100: #00171F;
$neutral-color-20: #CCD1D2;
$neutral-color-40: #185f85;
$neutral-color-60: #667479;
$neutral-color-80: #242B33;
$primary-color-dark-blue: #003459;
$primary-color-dark-blue-80: #002A48;
$state-color-blue-sea: #00A7E7;
$bg-color : #FCEED5;





